<html>
    <body>
    <script statici="true">
        const event = new Event('build'); 
        window.addEventListener("statici", (evt)=>{
            document.getElementById("console").innerHTML =JSON.stringify(evt.data)
        })
        var xmlHttp = new XMLHttpRequest();
        xmlHttp.onreadystatechange = function() { 
            if (xmlHttp.readyState == 4 && xmlHttp.status == 200){
                var doc = document.getElementById("demo");
                var jsonDoc = JSON.parse(xmlHttp.responseText);
                doc.innerHTML=jsonDoc['currentDateTime'];
                document.dispatchEvent(event);
            }
           
        }
        xmlHttp.open("GET", 'http://worldclockapi.com/api/json/est/now', true);
        xmlHttp.send(null);
      /*  const delay = ms => new Promise(res => setTimeout(res, ms));
        const waiting = async ()=>{
            await delay(10000)
            console.log("Waited 10000 seconds")
            document.dispatchEvent(event);
        }
        waiting();

        */
        </script>
        <p id="demo"></p>
        <p id="console"></p>
    </body>
    </html>